@import "../../assets/style/variables";

div.searchBar {
  box-sizing: border-box;
  height: 3.5em;

  width: 30em;

  .field {
    box-sizing: border-box;
    position: relative;

    height: 100%;
    width: 100%;

    border-radius: 5px;
    overflow: hidden;

    input {
      border: none;
      outline: none;

      box-sizing: border-box;
      height: 100%;
      width: 100%;

      padding-left: 5em;

      font-weight: 600;

      background-color: var(--elements-color);
      color: var(--text-color);
      &::placeholder {
        color: var(--input-color);
      }
    }

    span {
      transform: translate(50%, 50%);
      position: absolute;
      top: 0.5em;
      left: 1.125em;
      svg path {
        fill: var(--input-color);
      }
    }
  }
}
