@import "../../assets/style/variables";

div.container {
  width: 100%;
  height: fit-content;

  display: flex;
  gap: 7.5rem;
  align-items: center;

  color: var(--text-color);

  img.image {
    width: 50%;
    border-radius: 5px;
  }

  div.info {
    width: 50%;

    padding: 2rem 0;
    div.name {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 1.5rem;
    }

    div.details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      gap: 1rem;

      font-weight: 300;

      line-height: 2rem;
      .column {
        width: 50%;
      }
    }

    .bottomText {
      margin-top: 4.25rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      a {
        text-decoration: none;

        padding: 0.375rem 1.125rem;

        border-radius: 5px;

        background-color: var(--elements-color);
        color: var(--text-color);

        margin-right: 0.625rem;
        margin-bottom: 0.3125rem;
        margin-top: 0.3125rem;
        &:first-of-type {
          margin-left: 0.625rem;
        }
      }
    }
  }

  &.skeleton {
    margin-top: -0.75rem;
    div.image {
      background: var(--skeleton-color);
    }
    .name,
    .bottomText,
    .column div {
      background: var(--skeleton-color);
      margin: 1.4rem 0;
      height: 0.5rem;
      border-radius: 10px;
    }
    .name {
      height: 1.25rem;
      margin-bottom: 0.65rem;
    }
  }
}

b {
  font-weight: 600;
}
