/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Colors --------------------------------- */

/* Palette */
$oxford-blue: #2b3945;
$ebony-clay: #202c37;
$woodsmoke: #111517;
$gray: #858585;
$alabaster: #fafafa;
$white: #ffffff;

/* ------------------------------- Typography ------------------------------- */

/* system typefaces */
$sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Roboto",
  "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

$font-size: 14px;
$detail-font-size: 16px;
