@import "./style/fonts";
@import "./style/variables";
@import "./style/light";

body {
  margin: 0;
  font-family: $sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $background-color;
}
